.todo-board{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    background-color: rgb(255, 255, 239);
    width: 100%;
    height: auto;
}

.todo-board .todo-item{
    background-color: rgb(243, 239, 239);
    box-shadow: 0 0 5px black;
    height: 70vh;
    width: 30vw;
    display: flex;
    justify-content: center;
}

